<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924768388094-cjq98m0spks09j129u8uutao18fu3f6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924768388094-cjq98m0spks09j129u8uutao18fu3f6v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>924768388094-ad559hrpa8ph98buv7quduj3n7imfcv6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYMvJsPmGnO6dyDh0UtxJASbz7BADX5E0</string>
	<key>GCM_SENDER_ID</key>
	<string>924768388094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Dogame.DominicanPower</string>
	<key>PROJECT_ID</key>
	<string>domincanpower-70241</string>
	<key>STORAGE_BUCKET</key>
	<string>domincanpower-70241.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924768388094:ios:7e41c41bec6c6df409b6af</string>
	<key>DATABASE_URL</key>
	<string>https://domincanpower-70241.firebaseio.com</string>
</dict>
</plist>